
*{ 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; }



h1{
	text-align: center;
	color: #313131;
	font-weight: 10px;
	font-family: serif;
	font-size: 10px;
	padding-top: 7px;
}
h2 {
	color: #313131 ;
	font-size:10px;
}

h3{
	text-align: center;
	color: #313131;
	margin-top:5px;
}

body{
	text-align: justify;
	color: #313131;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.title{
	background-image: url(image/background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30px;
}

.picture-right{
	float:right;
	padding:10px 0px 20px 0px;
	margin-right: 20px;
}

.container{
	padding:0px 0px 0px 0px;
	text-align:left;
}

.paragraph-left{
	margin-top:0px;
	padding:30px 170px 0px 30px;
	font-size:50%;
}

.picture-left{
	float:left;
	padding:0px 30px 0px 0px;
	margin-left:20px;
}

.containerl{
	padding:0px;
	text-align:left;
}

.paragraph-right{
	margin-top:20px;
	margin-right: 30px;
	padding:50px 0px 0px 0px;
	font-size:50%;
}

#discover{
	text-decoration-color: #40734A;
	
}
#donationimg{
	padding: 50px 0px 0px 50px;
}
#donation{
	margin-top: 50px;
	text-align: justify;
}
#normalimg{
	padding-left: 20px;
	padding-top:5px;
}

#normal{
	padding-top:10px;
	text-align:justify;
}

#system{
	padding-left: 20px;
	padding-top:50px;
	padding-bottom:20px;
	text-align:justify;
}

#systemimg{
	padding-right: 0px;
	padding-left: 0px;
	padding-top:20px;
}

#protect{
	padding-top: 0px;
}

#protecttext{
	padding-top:10px;
}

#save{
	padding-left: 20px;
	padding-top:20px;
	text-align:justify;
}

#saveimg{
	padding-right: 0px;
	padding-left: 30px;
	padding-top:30px;
}
.center{
	text-align: center;
	font-size: 60%;
	margin-top:10px;
}
.your{
	padding:0px;
	padding-top:20px;
	padding-left:50px;
	text-align:left;
	clear:both;
}
.youra{
	padding:0px;
	padding-top:20px;
	padding-left:50px;
	text-align:left;
	clear:both;
}
#build{
	float:right;
	font-size:50%;
	width:70%;
	padding-top:10px;
}

#buildimg{
	float:left;
	border-radius: 50%;
	height:50px
}

.team{
	padding:0px;
	padding-top:20px;
	text-align:left;
	clear:both;
}

.teama{
	padding:0px;
	padding-top:20px;
	text-align:left;
	clear:both;
}

#profil{
	float:right;
	font-size:50%;
	width:70%;
	padding-top:10px;
}

#profilimg{
	float:left;
	height:auto;
	width:20%;
}



#story{
	font-size:50%;
	margin-right:20px;
	margin-left:20px;
	margin-top:10px;
	text-align: center;
	font-weight: bold;
}

#btn-grey {
	background-color: #1B4F60;
	color: #FEFAF5;
	padding: 10px 10px;
	display: block;
	width: 50px;
	margin-left: 160px;
	margin-top:20px;
	border-radius: 4px;
	font-weight: bold;
	transition: 1s;
	text-decoration: none;
	text-align: center;
}

#btn-grey:hover {
	background-color: #9CCACE;
	color: #1B4F60;
	text-align: center;
}

#btn-pink {
	background-color: #1B4F60;
	color: #FEFAF5;
	padding: 10px 10px;
	display: block;
	width: 50px;
	margin: 5px;
	margin-left: 0px;
	margin-top:10px;
	border-radius: 4px;
	font-weight: bold;
	transition: 1s;
	text-decoration: none;
	text-align: center;
}

#btn-pink:hover {
	background-color: #9CCACE;
	color: #1B4F60;
	text-align: center;
}
#btn-blue {
	background-color: #1B4F60;
	color: #FEFAF5;
	padding: 5px 5px;
	display: block;
	width: 50px;
	height:15px;
	margin: 10px auto;
	border-radius: 4px;
	font-weight: bold;
	transition: 1s;
	text-decoration: none;
	text-align: center;
	font-size:50%;
}

#btn-blue:hover {
	background-color: #9CCACE;
	color: #1B4F60;
	text-align: center;
}

#logo{
	border-radius: 50%;
}

.navbar{
	background-color: #1B4F60;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: sticky;
	top: 0;
	font-weight: bold;

}

.navbar a{
	margin: 0;
	color: white;
	font-size:50%;
	text-decoration: none;
}

.navbar a:hover {
	text-decoration: underline white;
}

footer{
	background-color:#CAD9DA;
	text-align: center;
	margin:30px auto 0px auto;
	height:30px;
}

}
#insta{
	margin-left:0px;
	margin-top:0;
}
#instatext{
	padding-top:5px;
	height: 30px;
}

@media screen and (min-width: 768px) { 


h1{
	font-size:20px;
	padding-top:30px;
}

h2{
	font-size:20px;
}
h3{
	font-size:20px;
}
p{
	font-size:17px;
}
#logo{
	height:80px;
	width:auto;
}
.navbar{
	height:100px;
}
.navbar a{
	font-size:100%;
}
.title{
	height:80px;
}
.paragraph-left{
	padding-left:100px;
}
#ampoule{
	height:150px;
	padding-right:100px;
}
#douche{
	height:300px;
	padding-left:200px;
	padding-right:100px;
}
#discover{
	margin-top:50px;
}
#donationimg{
	margin-top: 50px;
	height:200px;
	padding-right:50px;
}
#don{
	padding-top:100px;
}
#btn-blue{
	height:20px;
	width:100px;
	font-size:100%;
	padding-bottom:45px;
}
#insta{
	height:20px;
}
footer{
	margin:60px auto 0px auto;
	height:100px;
	padding-top:25px;
}

#normalimg{
	height:200px;
}
#normal{
	padding-top:25px;
}
#systemimg{
	height:300px;
}
#system{
	padding-top:100px;
	margin-top:50px;
}
#protecttext{
	padding-top:50px;
	padding-left:250px;
}
#btn-grey{
	height:20px;
	width:100px;
	font-size:15px;
	padding-bottom:27px;
}
#save{
	height:175px;
	margin-right:100px;
}
#saveimg{
	padding-top:50px;
	margin-left:50px;
	margin-right:400px;

}
#btn-pink{
	height:20px;
	width:100px;
	font-size:15px;
	padding-bottom:27px;
}
.your{
	margin-top:50px;
	}
}
.youra{
	margin-bottom:425px;
}
strong{
	font-size:20px;
}

#buildimg{
	height:75px;
	margin-left:100px;
	margin-bottom:20px;
}

#profilimg{
	height:100px;
	width:auto;
	margin-left:100px;
}
#profil{
	margin-top:10px;
}
.teama{
	margin-bottom:300px;
}
}

@media screen and (min-width: 960px) { 
 #ampoule{
 	height:200px;
 }

 #donationimg{
	margin-top: 50px;
	height:300px;
	padding-right:50px;
}
#buildimg{
	height:100px;
	margin-left:300px;
	margin-bottom:20px;
}
#profilimg{
	float:left;
	height:200px;
	width:20%;
	padding-right:200px;
}
}

